# AWS SAM
.aws-sam/
samconfig.toml
build.toml

# Node.js
node_modules/
package-lock.json

# Python (add if applicable)
__pycache__/
*.pyc
*.pyo
*.pyd
*.zip

# System files
.DS_Store
*.swp
*.log
*.tmp
cd